* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0%;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav {
  align-items: center;
  background-color: #6a5acd;
  border-bottom: 1px solid black;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding: 1.5rem;

  * {
    transition: 0.3s;
  }

  *:hover {
    color: #000;
  }

  a {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
  }
}

footer {
  align-items: center;
  background-color: #808080;
  display: flex;
  flex-direction: column;
  height: 50vh;
  justify-content: space-between;
  padding: 2rem;

  .links {
    border: 1px solid red;
    height: 80%;
    width: 90%;
  }
}

.container .coverImage {
  background-size: cover;
  height: 60vh;

  .pageDes {
    align-items: center;
    backdrop-filter: blur(3px);
    background-color: rgba(0, 0, 0, 0.226);
    color: #fff;
    display: flex;
    font-size: 3rem;
    font-weight: 600;
    height: 100%;
    justify-content: center;
    text-align: center;
  }
}

section {
  position: relative;

  .bg-image {
    height: 100%;
    opacity: 0.1;
    position: absolute;
    width: 100%;
    z-index: 1;
  }

  .content {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: space-evenly;
    padding: 5rem;
    text-align: center;

    h2 {
      color: #0074d9;
      font-size: 4rem;
      font-weight: 700;
      margin-bottom: 2rem;
      text-transform: uppercase;
    }

    p {
      color: #ff0000;
      font-size: 1.3rem;
      line-height: 2.3rem;
      text-align: center;
    }
  }

  svg {
    background-color: transparent;
    display: block;
    position: relative;
    z-index: 1;
  }
}

/* Home page */
.index {
  .imageBox {
    background-color: black;
    height: calc(100vh - 50px);
    overflow: hidden;
    position: relative;

    .sceneRange {
      align-items: center;
      backdrop-filter: blur(10px);
      background-color: rgba(255, 255, 255, 0.2);
      border-radius: 2rem;
      display: flex;
      height: 40px;
      justify-content: center;
      margin-right: 50px;
      margin-top: auto;
      opacity: 0.8;
      padding: 10px;
      position: absolute;
      right: 0;
      transform-origin: right bottom;
      transform: rotate(-90deg);
      width: 400px;

      input[type="range"] {
        appearance: none;
        background: #fff;
        border-radius: 5px;
        display: block;
        height: 1px;
        outline: 0;
        width: 100%;
      }

      input[type="range"]::-webkit-slider-thumb {
        appearance: none;
        background-color: #2fb0fc;
        border-radius: 50%;
        cursor: grab;
        height: 25px;
        transition: 0.1s ease-in-out;
        width: 25px;
      }

      input[type="range"]::-webkit-slider-thumb:active {
        cursor: grabbing;
        transform: scale(1.2);
      }
    }

    #sceneImg {
      height: 100%;
      object-fit: fill;
      width: 100%;
    }
  }

  .definition {
    background-color: #f5f5f5;

    .bg-image {
      background-image: url(assets/clipart_1.png);
    }
  }

  .properties {
    background-color: #708090;

    h2 {
      color: #fff;
    }

    p {
      color: #fff;
    }
  }

  .importance {
    background-color: #f5f5f5;

    .bg-image {
      background-image: url(assets/clipart_2.png);
      opacity: 0.17;
    }
  }
}

/* Applications page */
.applications {
  .coverImage {
    background-image: url(assets/microscope.jpg);
  }

  .research {
    background-color: #f5f5f5;

    .content {
      padding-bottom: 0;
    }
  }

  .reinforcement {
    background-color: #d4e4f1;

    h2 {
      color: #1a5276;
    }
  }

  .electronics {
    background-color: #f5f5f5;
  }

  .energy {
    background-color: #485564;

    h2 {
      color: #eee;
    }

    p {
      color: #f5f5f5;
    }
  }

  .cosmetics {
    background-color: #f5f5f5;
  }

  .environment {
    background-color: #e6e6fa;
  }

  .food-and-agriculture {
    background-color: #f5f5f5;
  }

  .textiles {
    background-color: #e5f1ff;

    .content {
      padding-bottom: 0;
      padding-top: 0;
    }
  }

  .compounds {
    /* defining these values to override .content values for wikiTable */
    .content {
      height: auto;
      padding: 0;
      text-align: left;

      .wiki {
        height: 95vh;
        margin: auto;
        overflow: hidden;
        position: relative;
        width: 75%;

        .table {
          height: 1500px;
          margin-left: -400px;
          margin-top: -132px;
          position: absolute;
          width: 1800px;
        }
      }
    }
  }
}

/* Innovations */
.innovations {
  .coverImage {
    background-image: url(assets/laboratory.jpg);
  }

  .drug-delivery {
    border: 1px solid red;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* gap: 50px; */

    .details {
      /* background-color: lightcyan;
      border: 1px solid blue; */
      height: 100%;
      width: 60%;
      line-height: 1.75rem;
      font-size: 1.25rem;

      h3 {
        display: inline;
      }

      p {
        display: inline;
      }
    }

    .details-img {
      background-color: lightpink;
      background-repeat: no-repeat;
      height: 350px;
      width: 500px;
      /* width: 50%; */
      background-image: url(assets/innovations/targeteddrug.jpg);
      background-size: cover;
      /* border: 1px solid brown; */
    }
  }
}
