<h1>REFERENCES</h1>
<div class="links">
  <div class="home tab">
    <h3>Home</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
  <div class="applications tab">
    <h3>Applications</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
  <div class="innovations tab">
    <h3>Innovations</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
  <div class="nanosafety tab">
    <h3>Nanosafety</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
  <div class="horizon tab">
    <h3>Horizon</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
</div>
<div class="greeting">
  <span>Made with ❤️ by Deepak Goswami</span>
</div>
