<h1>REFERENCES</h1>
<div class="links">
  <div class="home tab">
    <h3>Home</h3>
    <a href="https://youtu.be/38Vi8Dm0kdY?si=76p2juf1KTfuYlFT"
      >Size of nanoparticle</a
    >
    <a href="https://www.nano.gov/nanotech-101/what/nano-size">NNI</a>
    <a
      href="https://www.sciencedirect.com/science/article/pii/S1878535217300990"
      >Science Direct</a
    >
  </div>
  <div class="applications tab">
    <h3>Applications</h3>
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3865110/">NCBI</a>
    <a
      href="https://www.researchgate.net/publication/257533980_Nanoparticles_and_their_applications_in_cell_and_molecular_biology"
      >Research Gate</a
    >
    <a
      href="https://en.wikipedia.org/wiki/Nanoparticle#Compounds_by_industrial_area"
      >Applications- Wikipedia</a
    >
  </div>
  <div class="innovations tab">
    <h3>Innovations</h3>
    <a href="https://in-part.com/blog/new-nanotechnology-innovations-top-10/"
      >In-part</a
    >
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9865684/">NIH</a>
    <a href="https://www.mdpi.com/2079-4991/12/24/4494">MDPI</a>
    <a
      href="https://phys.org/news/2015-09-drug-delivery-nanoparticles-medicines-effective.html#google_vignette"
      >Phys</a
    >
  </div>
  <div class="nanosafety tab">
    <h3>Nanosafety</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
  <div class="horizon tab">
    <h3>Horizon</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
</div>
<div class="greeting">
  <span>Made with ❤️ by Deepak Goswami</span>
</div>
<h1>REFERENCES</h1>
<div class="links">
  <div class="home tab">
    <h3>Home</h3>
    <a href="https://youtu.be/38Vi8Dm0kdY?si=76p2juf1KTfuYlFT"
      >Size of nanoparticle</a
    >
    <a href="https://www.nano.gov/nanotech-101/what/nano-size">NNI</a>
    <a
      href="https://www.sciencedirect.com/science/article/pii/S1878535217300990"
      >Science Direct</a
    >
  </div>
  <div class="applications tab">
    <h3>Applications</h3>
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3865110/">NCBI</a>
    <a
      href="https://www.researchgate.net/publication/257533980_Nanoparticles_and_their_applications_in_cell_and_molecular_biology"
      >Research Gate</a
    >
    <a
      href="https://en.wikipedia.org/wiki/Nanoparticle#Compounds_by_industrial_area"
      >Applications- Wikipedia</a
    >
  </div>
  <div class="innovations tab">
    <h3>Innovations</h3>
    <a href="https://in-part.com/blog/new-nanotechnology-innovations-top-10/"
      >In-part</a
    >
    <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC9865684/">NIH</a>
    <a href="https://www.mdpi.com/2079-4991/12/24/4494">MDPI</a>
    <a
      href="https://phys.org/news/2015-09-drug-delivery-nanoparticles-medicines-effective.html#google_vignette"
      >Phys</a
    >
  </div>
  <div class="nanosafety tab">
    <h3>Nanosafety</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
  <div class="horizon tab">
    <h3>Horizon</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
</div>
<div class="greeting">
  <span>Made with ❤️ by Deepak Goswami</span>
</div>
