<h1>REFERENCES</h1>
<div class="links">
  <div class="home tab">
    <h3>Home</h3>
    <a href="https://youtu.be/38Vi8Dm0kdY?si=76p2juf1KTfuYlFT"
      >Size of nanoparticle</a
    >
    <a href="https://www.nano.gov/nanotech-101/what/nano-size">NNI</a>
    <a
      href="https://www.sciencedirect.com/science/article/pii/S1878535217300990"
      >Science Direct</a
    >
  </div>
  <div class="applications tab">
    <h3>Applications</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
  <div class="innovations tab">
    <h3>Innovations</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
  <div class="nanosafety tab">
    <h3>Nanosafety</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
  <div class="horizon tab">
    <h3>Horizon</h3>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
    <a href="google.com">google</a>
  </div>
</div>
<div class="greeting">
  <span>Made with ❤️ by Deepak Goswami</span>
</div>
