nav {
  align-items: center;
  background-color: #6a5acd;
  border-bottom: 1px solid black;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
  padding: 1.5rem;

  * {
    transition: 0.3s;
  }

  *:hover {
    color: #000;
  }

  a {
    color: white;
    font-size: 1rem;
    font-weight: 500;
    text-decoration: none;
  }
}
